body {
  // background-color: oldlace;
  background-color: whitesmoke;
  color: rgb(53, 28, 79);
}

a {
  text-decoration: none;
  // color: #54136a;
  color: rebeccapurple;
  position: relative; // Add relative positioning to create the underline effect

  &:hover {
    text-decoration: none;
    color: #54136a; // Text color on hover

    &::before {
      content: '';
      position: absolute;
      bottom: -5px; // distance of the underline
      left: 0;
      width: 100%;
      height: 2px; // thickness of the underline
      background-color: #c2aace; // color of the underline
    }
  }
}

.navHeader {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navHeader li {
  display: inline;
  margin-right: 10px;
}
